@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&family=Roboto:wght@300;400;500&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://i.pinimg.com/originals/62/02/b9/6202b931f3d654284e53d6a3e8616a4a.jpg") ;
    background-size: cover ;
    overflow: hidden;
}

.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-slide {
    width: 300px;
    height: 400px;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
    filter: blur(1px);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: self-start;
}

.swiper-slide-active {
    filter: blur(0px);
}

.swiper-pagination-bullet,
.swiper-pagination-bullet-active {
    background: #fff;
}

.swiper-slide span {
    text-transform: uppercase;
    color: #fff;
    background: #1b7402;
    padding: 7px 18px 7px 25px;
    display: inline-block;
    border-radius: 0 20px 20px 0px;
    letter-spacing: 2px;
    font-size: 0.8rem;
    font-family: "Open Sans", sans-serif;
}

.swiper-slide--one span {
    background: #62667f;
}

.swiper-slide--two span {
    background: #087ac4;
}

.swiper-slide--three span {
    background: #b45205;
}

.swiper-slide--four span {
    background: #087ac4;
}

.swiper-slide h2 {
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 1.4;
    margin-bottom: 15px;
    padding: 25px 45px 0 25px;
}

.swiper-slide p {
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    display: flex;
    align-items: center;
    padding: 0 25px 35px 25px;
}

.swiper-slide svg {
    color: #fff;
    width: 22px;
    height: 22px;
    margin-right: 7px;
}

.swiper-slide--one {
    background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
        url(https://cdn.areademembros.com/files/instancia_1851/editor/xMYJG4Iip3LBjeLEVjgQRtUppH3WZ8GgW9FVHPqa.jpg) no-repeat 50% 50% / cover;
}

.swiper-slide--two {
    background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
        url(https://cdn.areademembros.com/files/instancia_1851/editor/7sdRZv8qBftYaWQyp3eHDa5TGzzU8hXSXN16yh6X.webp) no-repeat 50% 50% / cover;
}

.swiper-slide--three {
    background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
        url("https://cdn.areademembros.com/files/instancia_1851/editor/Li76xJuboh01z3Py31IsfSxxrZzoVhQJBUE0Mt5x.png") no-repeat 50% 50% / cover;
}

.swiper-slide--four {
    background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
        url(https://2.bp.blogspot.com/-CoxJhnktdhM/Trxk2TwS1_I/AAAAAAAAAFc/v95cGqaITZ0/w1200-h630-p-k-no-nu/200px-DarkForce_Rising.jpg) no-repeat 50% 50% / cover;
}

.swiper-slide--five {
    background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
        url("https://i.pinimg.com/474x/ba/60/b2/ba60b2889d1cabf155b77efc25aa5e56.jpg") no-repeat 50% 50% / cover;
}


.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right {
    background-image: none;
}