body {

    display: grid;
    justify-content: center;
    align-items: center;
}

main {
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
}

.card {
    width: 600px;
    height: 600px;

    overflow: scroll;
}

nav {
    display: grid;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

h1 {
    margin-top: 13px;
    margin-bottom: 5px;
}

.estado {
    display: none;
    height: 400px;
    padding-top: 100px;
}

.listaImoveis {
    display: none;
}

form {
    margin: 50px auto;
    display: grid;
    gap: 10px;
    width: 400px;

}

.listaImoveis {
    margin: 50px 50px;
    column-count: 2;
    /* Divide o conteúdo em 2 colunas */
    column-gap: 20px;
    /* Espaço entre as colunas */

}