body {

    display: grid;
    justify-content: center;
    align-items: center;
}

main {
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
}

.card {
    width: 600px;
    height: 600px;
    background: linear-gradient(to top, #00B7E6, #0026E6);
    border-radius: 20px;
}

nav {
    display: grid;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-bottom: 100PX;
}

h1 {
    margin-top: 13px;
    margin-bottom: 5px;
}

.cadastrarImovel {
    width: 250px;
}

#nomeDono {
    margin-left: 30px;
    width: 61px;
}

#qntQuartos {
    margin-left: 25px;
    width: 61px;
}

#qntBanheiros {
    margin-left: 10px;
    width: 61px;
}

#garagem {
    margin-left: 68px;
    width: 70px;
}

.estado {
    display: none;
    height: 400px;
}

.listaImoveis {
    display: none;
}

form {
    margin: 50px auto;
    display: grid;
    gap: 10px;
    width: 400px;

}

.listaImoveis {
    margin: 50px 50px;
    column-count: 2;
    /* Divide o conteúdo em 2 colunas */
    column-gap: 20px;
    /* Espaço entre as colunas */

}
