* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.header,
.footer {
    border: 2px solid black;
    flex-basis: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main{
    background-color: #A9A9A9;
    flex: 1 0 400px ;
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    padding: 20px;
    
}

.item{
    background-color: white;
    width: 300px;
    height: 250px;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}