*{
    margin: 0;
    padding: 0;
}

li{
    background-color: #1c1a1d;
    border: 4px solid transparent;
    color: white;

    width: 400px;
    height: 250px;

    margin-top: 32px;
    margin-left: 32px;
    padding: 32px;

    cursor: pointer;

    display: inline-block;
}

.selected{
    background-color: hsl(280, 5%, 21%);
    border: 4px solid rgb(0, 162, 255);
}

.hidden{
    display: none;
}